* {
    margin: 0;
}

header {
    display: flex;
    width: 90%;
    height: 100px;
    align-items: center;
    margin: auto;
}

.logo-container {
    width: 50%;
}

.nav-items {
    display: flex;
    width: 50%;
    align-items: center;
}

ul {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

li {
    list-style: none;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #333333;
}

.btns {
    width: 40%;
    display: flex;
}

button {
    background: #44AA95;
    border-radius: 62px;
    height: 35px;
    width: 110px;
    border: none;
    color: #fff;
    margin-right: 10px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 20px;
}

.btn-white {
    background-color: white;
    color: #44AA95;
    border: 1px solid;
}

main {
    display: flex;
}

h1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    color: #333333;
}

p {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150.6%;
    margin-top: 11px;
}

.green-button {
    margin-top: 33px;
    position: relative;
    right: 20px;
}

.text-con {
    margin-top: 150px;
    width: 50%;
    margin-left: 75px;
}

.image-con {
    width: 50%;
}

.ball {
    position: absolute;
    margin-left: 140px;
}

.player {
    margin-left: 100px;
    width: 180px;
}

.player-two {
    margin-left: 56px;
}

.player-three {
    margin-left: 53px;
}

footer {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.vert-con {
    position: absolute;
    width: 1px;
    height: 25px;
    left: 650px;
    top: 645px;
    background: #DFDFDF;
}

.prev {
    position: absolute;
    width: 27px;
    height: 16px;
    left: 670px;
    top: 641px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.next {
    position: absolute;
    width: 26px;
    height: 16px;
    left: 610px;
    top: 641px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #C0C0C0;
}

.left {
    position: absolute;
    margin-top: 93px;
    margin-right: 200px;
}

.right {
    position: absolute;
    margin-top: 93px;
    margin-left: 70px;
}